NME
sdl-static
qtv-flex-core
qtv-interactive-video-player
qtv-java-builder
qtv-play-webapp
qtv-webapp-client
qtv-java-support
qtv-haxe-api
qtv-haxe-api/ 
qtv-haxe-ui
xuloo-haxe-ui
haxe-interactive-layer-test
.DS_Store
.metadata
.ivy2
.m2
.tmp*
.subversion
NME/
sdl-static/
ubuntu@production.quick.tv
